.carousel {
  height: 300px; /*no*/
}
.space-carousel {
  padding: 16px;
  background: #def1e5;
  overflow: hidden;
  margin-top: 0.2rem;
}
.am-tabs-default-bar-content {
  margin-left: 27.5%;
  width: 50% !important;
}

.icon-dianzan11{
  font-size: 0.8rem !important;
  color:#3e3e3e
}